<launch>

    <arg name="tall" default="false"/>

    <group if="$(arg tall)">
        <param name="mean_weight_limit" value="2.0"/>
        <param name="weight_drop_factor" value="0.5"/>
    </group>
    <group unless="$(arg tall)">
        <param name="mean_weight_limit" value="1.5"/>
        <param name="weight_drop_factor" value="0.4"/>
    </group>

    <node pkg="mattbot_mcl" type="localization_quality.py" name="localization_quality_node" output="screen">
        <!-- No parameters needed -->
    </node>

</launch>